In [14]:
import sys
import os
from pathlib import Path
from glob import glob
# from datetime import timedelta
import datetime as dt
import pandas as pd
from fameio.scripts.convert_results import run as convert_results
from fameio.source.cli import Config
from fameio.source.time import FameTime, Constants
import math
import matplotlib.pyplot as plt
%matplotlib notebook

In [15]:
CONFIG = {
    Config.LOG_LEVEL: "info",
    Config.LOG_FILE: None,
    Config.AGENT_LIST: None,
    Config.OUTPUT: 'FameResults_converted',
    Config.SINGLE_AGENT_EXPORT: False

}

In [16]:
def process_file(filepath: str) -> pd.DataFrame:
    """Process single AMIRIS csv file"""
    df = pd.read_csv(filepath, sep=';')
    object_class = Path(filepath).stem
    assert df.columns[1] == 'TimeStep'
    assert df.columns[0] == 'AgentId'
    # Convert times steps
    df['TimeStamp'] = df['TimeStep'].apply(roundup)
    df['TimeStamp'] = df['TimeStamp'].apply(convert_fame_time_step_to_datetime)
    df['ObjectClass'] = object_class
    return df.drop('TimeStep', axis=1).melt(['ObjectClass', 'AgentId', 'TimeStamp']).dropna()

In [17]:
def roundup(x):
    return round(x / 100.0) * 100

In [18]:
def convert_fame_time_step_to_datetime(fame_time_steps: int) -> str:
    """Converts given `fame_time_steps` to corresponding real-world datetime string"""
    years_since_start_time = math.floor(fame_time_steps / Constants.STEPS_PER_YEAR)
    current_year = years_since_start_time + Constants.FIRST_YEAR
    beginning_of_year = dt.datetime(year=current_year, month=1, day=1, hour=0, minute=0, second=0)
    steps_in_current_year = (fame_time_steps - years_since_start_time * Constants.STEPS_PER_YEAR)
    seconds_in_current_year = steps_in_current_year / Constants.STEPS_PER_SECOND
    simulatedtime = beginning_of_year + dt.timedelta(seconds=seconds_in_current_year)
    tiemporounded = simulatedtime.replace(second=0, microsecond=0, minute=0, hour=simulatedtime.hour) + dt.timedelta(
        hours=simulatedtime.minute // 30)
    #tiemporounded.strftime('%Y-%m-%dT%H:%M:%S')
    return tiemporounded

Get input file from cmd line arguments

In [19]:
input_pb_file = "C:\\Users\\isanchezjimene\\Documents\\TraderesCode\\toolbox-amiris-emlab\\scripts\\AMIRIS.FameResult.pb"
#parent = os.path.basename(os.getcwd())
#complete = os.path.join(Path(os.getcwd()).parent, "data", input_pb_file)

Convert Proto Buffer file to csv's

In [20]:
convert_results(input_pb_file, CONFIG)
# Combine csv files into one data frame
csv_files = glob(f'{CONFIG[Config.OUTPUT]}/*.csv')
originaldata = pd.concat(map(process_file, csv_files))

10:10:16 — INFO — Reading protobuffer file...
10:10:16 — INFO — Reading protobuffer file...
10:10:17 — INFO — Extracting agent data...
10:10:17 — INFO — Extracting agent data...
10:10:22 — INFO — Using specified output path: FameResults_converted
10:10:22 — INFO — Using specified output path: FameResults_converted
10:10:22 — INFO — Writing data to .csv files...
10:10:22 — INFO — Writing data to .csv files...
10:10:25 — INFO — Data conversion completed.
10:10:25 — INFO — Data conversion completed.

Plot results

In [50]:
data = originaldata
data.dtypes
data.info()
data.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 709678 entries, 0 to 420767
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ObjectClass  709678 non-null  object
 1   AgentId      709678 non-null  int64
 2   TimeStamp    709678 non-null  datetime64[ns]
 3   variable     709678 non-null  object
 4   value        709678 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 32.5+ MB

,ObjectClass,AgentId,TimeStamp,variable,value
0,ConventionalPlantOperator,501,2019-01-01 00:00:00,OfferedPowerInMW,258.72
2,ConventionalPlantOperator,501,2019-01-01 01:00:00,OfferedPowerInMW,258.72
4,ConventionalPlantOperator,501,2019-01-01 02:00:00,OfferedPowerInMW,258.72
6,ConventionalPlantOperator,501,2019-01-01 03:00:00,OfferedPowerInMW,258.72
8,ConventionalPlantOperator,501,2019-01-01 04:00:00,OfferedPowerInMW,258.72

In [44]:
data.head(5)

,ObjectClass,AgentId,TimeStamp,variable,value
0,ConventionalPlantOperator,501,2019-01-01 00:00:00,OfferedPowerInMW,258.72
2,ConventionalPlantOperator,501,2019-01-01 01:00:00,OfferedPowerInMW,258.72
4,ConventionalPlantOperator,501,2019-01-01 02:00:00,OfferedPowerInMW,258.72
6,ConventionalPlantOperator,501,2019-01-01 03:00:00,OfferedPowerInMW,258.72
8,ConventionalPlantOperator,501,2019-01-01 04:00:00,OfferedPowerInMW,258.72

In [43]:
data.set_index('TimeStamp').resample('Y')

ValueError: unconverted data remains: 4

In [48]:
data.resample('Y').agg(dict(ObjectClass='sum', variable='sum', AgentId='sum'))

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

In [53]:
grouped = data.groupby(["ObjectClass", "variable", "AgentId" ]).sum()

In [38]:
data.groupby(pd.Grouper(key='TimeStamp',freq='Y')).sum()

              AgentId         value
TimeStamp
2019-12-31  220737625           NaN
2020-12-31        287  3.816870e+08

In [54]:

grouped.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 91 entries, ('ConventionalPlantOperator', 'AwardedPowerInMWH', 501) to ('VariableRenewableOperator', 'ReceivedMoneyInEUR', 53)
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   89 non-null     float64
dtypes: float64(1)
memory usage: 1.6+ KB

In [55]:
grouped.head(5)

                                                            value
ObjectClass               variable          AgentId
ConventionalPlantOperator AwardedPowerInMWH 501      1.715591e+06
                                            503      7.408201e+06
                                            504      1.044948e+04
                                            505      0.000000e+00
                          CostsInEUR        501      5.820340e+07

Write results

In [57]:
grouped.to_csv('AMIRIS_combined.csv', index=True)